.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: black 5px double;
}

#results {
  padding: 2px;
}

#resultNumber {
  border: 2px solid black;
  padding: 0 7px;
}

p {
  margin: 0;
}

.eName {
  font-size: 18pt;
  font-weight: 800;
}

.eCity {
  font-size: 13pt;
  color: rgb(39, 46, 39);
}

.eDate {
  font-size: 14.5pt;
  color: rgb(68, 68, 68);
}

.eContent {
  display: flex;
  flex-direction: column;
}
img {
  width: 150px;
  height: auto;
  max-height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
section {
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

i {
  cursor: pointer;
}

.favorite {
  width: 70px;
  height: 70px;
  font-size: 24pt;
}

.favorite:hover {
  color: red;
}

.favorited {
  color: #900c3f;
  font-weight: 900;
}

#t0top {
  cursor: pointer;
  color: #438954;
  font-size: 18pt;
  padding: 20px 0 40px 0;
}

#t0top:hover {
  color: #900c3f;
  text-decoration: underline;
}

@media only screen and (min-width: 884px) {
  section {
    flex-direction: row;
  }
  .eContent {
    flex-direction: row;
  }

  #t0top {
    font-size: 24pt;
  }
}
