<div class="container">
  <section>
    <p>What's new in town?</p>
    <p>Use the search fields above to find out what's going near you</p>
  </section>
  <section *ngFor="let event of eventList; index as i">
    <div class="eContent">
      <img class="image" src="{{ event.images[0].url }}" />
      <div class="eText">
        <p class="eName">{{ event.name }}</p>
        <p class="eCity">City: {{ event._embedded.venues[0].city.name }}</p>
        <p class="eDate">Date: {{ event.dates.start.localDate }}</p>
      </div>
    </div>
    <a [ngClass]="{ favorited: add[i] }">
      <i class="favorite far fa-bookmark" (click)="favoriteEvent(event, i)"></i
    ></a>
  </section>
</div>
