.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}

.eName {
  font-size: 18pt;
}

.eCity {
  font-size: 16pt;
}

.eDate {
  font-size: 16pt;
}

.eContent {
  display: flex;
}
img {
  width: 150px;
  height: auto;
  max-height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
section {
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

i {
  cursor: pointer;
}

.favorite {
  width: 70px;
  height: 70px;
  font-size: 24pt;
}
