<div class="container">
  <section id="splash">
    <p id="p1">What's new in town?</p>
    <p id="p2">
      We'll show you! Use the search fields above and find out what's going on
      in your town!
    </p>
    <p id="p3">Here's a sample of what's happening in New York this month</p>
  </section>
  <section *ngFor="let event of eventList; index as i">
    <div class="eContent">
      <img class="image" src="{{ event.images[0].url }}" />
      <div class="eText">
        <p class="eName">{{ event.name }}</p>
        <p class="eCity">City: {{ event._embedded.venues[0].city.name }}</p>
        <p class="eDate">Date: {{ event.dates.start.localDate }}</p>
      </div>
    </div>
    <a [ngClass]="{ favorited: add[i] }">
      <i
        class="favorite far fa-bookmark"
        (click)="favoriteEvent(event, i)"
        title="Bookmark This Event"
      ></i
    ></a>
  </section>
</div>
