.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#splash {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}

.eName {
  font-size: 18pt;
}

.eCity {
  font-size: 16pt;
}

.eDate {
  font-size: 16pt;
}

.eContent {
  display: flex;
  flex-direction: column;
}
img {
  width: 150px;
  height: auto;
  max-height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
section {
  border-bottom: 0.5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

i {
  cursor: pointer;
}

.favorite {
  font-size: 24pt;
  width: 40px;
}

.favorited {
  color: #900c3f;
}
.favorite:hover {
  color: red;
}

@media only screen and (min-width: 884px) {
  section {
    flex-direction: row;
  }
  .eContent {
    flex-direction: row;
  }
}
