<div id="header">
  <form #searchForm="ngForm" (ngSubmit)="searchEvents(searchForm.value)">
    <label for="keyword"></label>
    <input
      id="keyword"
      name="keyword"
      placeholder=" Search Events Here..."
      ngModel
      required
    />

    <label for="city"
      ><input id="city" name="city" placeholder="City..." ngModel required
    /></label>
    <label for="startDate"
      ><i class="far fa-calendar-alt"></i>
      <input type="date" id="startDate" name="startDate" ngModel required/>
      <label for="endDate"></label>
      <input type="date" id="endDate" name="endDate" ngModel required
    /></label>

    <button [disabled]="searchForm.invalid" type="submit">Submit</button>
    <div id="favLink">
      <a routerLink="/bucket-list"><i class="far fa-bookmark"></i></a>
    </div>
    <!-- Potential Link to go back to search page
    <a
    [routerLink]="['/event-list']"
    [queryParams]="{
      keyword: searchForm.keyword,
      city: searchForm.city,
      startDate: searchForm.startDate,
      endDate: searchForm.endDate
    }"
    >Back to Search</a
  > -->
  </form>
</div>
