#header {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(-45deg, #4a88ce, #438954);
  height: 600px;
  width: 100vw;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88%;
}
.inputItem {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  color: #daf7a6;
  width: 100%;
}
input {
  width: 100%;
  height: 60px;
  padding: 10px;
  border: 2px solid #438954;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16pt;
  box-sizing: border-box;
}

button {
  padding: 10px;
  height: 116px;
  width: 100%;
  border: 2px solid #438954;
  border-radius: 10px;
  background-color: ghostwhite;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 22pt;
  margin-top: 10px;
}

#favLink {
  position: absolute;
  top: 30px;
  right: 30px;
}

a {
  text-emphasis: none;
  text-decoration: none;
}

/* #startDate,
#endDate {
} */

.fa-bookmark {
  font-size: 48px;
  color: ghostwhite;
}

/* ///////////////Media querey for desktop */

@media only screen and (min-width: 877px) {
  #header {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100vw;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 88%;
  }
  .inputItem {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  input {
    height: 40px;
    font-size: 14pt;
  }
  #keyword {
    border-radius: 25px 0 0 25px;
  }

  button {
    height: 40px;
    border-radius: 0 25px 25px 0;
    background-color: ghostwhite;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16pt;
  }

  #favLink {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  a {
    text-emphasis: none;
    text-decoration: none;
  }

  .date {
    width: 140px;
  }

  #startDate,
  #endDate {
    font-size: 10pt;
  }

  .fa-bookmark {
    font-size: 48px;
    color: ghostwhite;
  }
}
