<p>search-criteria works!</p>
<button type="button" routerLink="/bucket-list">Favorites</button>
<button type="button" routerLink="/event-list">Back to Search</button>
<form #searchForm="ngForm" (ngSubmit)="searchEvents(searchForm.value)">
  <label for="keyword">Keyword</label>
  <input id="keyword" name="keyword" ngModel />

  <label for="city">City <input id="city" name="city" ngModel/></label>
  <label for="startDate"
    >Start Date <input type="date" id="startDate" name="startDate" ngModel
  /></label>
  <label for="endDate"
    >End Date <input type="date" id="endDate" name="endDate" ngModel
  /></label>

  <button type="submit">Submit</button>
</form>
