<header id="header">
  <video
    autoplay
    loop
    muted
    playsinline
    src="assets/The-DJ.mp4"
    class="fillWidth"
  ></video>
  <div>
    <img id="logo" title="New in Town" src="/assets/newintown.png" />
  </div>
  <form #searchForm="ngForm" (ngSubmit)="searchEvents(searchForm.value)">
    <div class="inputItem">
      <label for="keyword">Event, Artist, Activity...</label>
      <input
        id="keyword"
        name="keyword"
        title="Search for artist, concert, music, etc."
        placeholder=" Search Events Here..."
        ngModel
        required
      />
    </div>
    <div class="inputItem">
      <label for="city">City:</label>
      <input
        id="city"
        name="city"
        title="Enter City Here"
        placeholder="City"
        ngModel
        required
      />
    </div>
    <div class="inputItem date">
      <label for="startDate">From:</label>
      <!-- <i class="far fa-calendar-alt"></i> -->
      <input type="date" id="startDate" name="startDate" ngModel />
    </div>
    <div class="inputItem date">
      <label for="endDate">To:</label>
      <input type="date" id="endDate" name="endDate" ngModel />
    </div>
    <div class="inputItem">
      <button [disabled]="searchForm.invalid" type="submit">Find Events</button>
    </div>
    <div>
      <i
        (mouseenter)="changeState()"
        (mouseleave)="revertState()"
        routerLink="/bucket-list"
        class="far fa-bookmark favLink"
        title="Bookmarked Events"
      ></i>
      <a
        class="favLink"
        routerLink="/bucket-list"
        [@changeFavPos]="currentState"
        >Bookmarked Events</a
      >
    </div>
    <!-- Potential Link to go back to search page
    <a
    [routerLink]="['/event-list']"
    [queryParams]="{
      keyword: searchForm.keyword,
      city: searchForm.city,
      startDate: searchForm.startDate,
      endDate: searchForm.endDate
    }"
    >Back to Search</a
  > -->
  </form>
</header>
