<div class="container">
  <p id="bookmarked">Bookmarked Events</p>
  <div *ngIf="favoriteEvents.length === 0">
    <p>~Your Bookmarks List is Currently Empty~</p>
  </div>
  <section *ngFor="let event of favoriteEvents; index as i">
    <div class="eContent">
      <img class="image" src="{{ event.images[0].url }}" />
      <div class="eText">
        <p class="eName">{{ event.name }}</p>
        <p><a class="moreDetails" href="{{ event.url }}">More Details</a></p>
        <p class="eCity">City: {{ event._embedded.venues[0].city.name }}</p>
        <p class="eDate">Date: {{ event.dates.start.localDate }}</p>
      </div>
    </div>
    <i
      (click)="deleteEvent(i)"
      class="fas fa-trash"
      title="Bookmark This Event"
    ></i>
  </section>
</div>
