<div class="container">
  <p id="bookmarked">Bookmarked Events</p>
  <section *ngFor="let event of favoriteEvents; index as i">
    <div class="eContent">
      <img class="image" src="{{ event.images[0].url }}" />
      <div class="eText">
        <p class="eName">{{ event.name }}</p>
        <p class="eCity">City: {{ event._embedded.venues[0].city.name }}</p>
        <p class="eDate">Date: {{ event.dates.start.localDate }}</p>
      </div>
    </div>
    <i (click)="deleteEvent(i)" class="fas fa-trash"></i>
  </section>
</div>
